* {
  box-sizing: border-box;
}

body {
  background-color: #f2e9d0;
}

#encabezado {
  text-align: center;
  font-size: 3rem;
}

#lienzo {
  outline: 10px double #bb5a5a;
  margin: auto;
  margin-top: 100px;
  display: block;
  background-color: #e79e85;
}