main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: radial-gradient(#65c6c4 20%, #408ab4 40%, #34699a 70%, #113f67 85%);
}

#encabezado {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  color: #113f67;
  font-size: 4rem;
  text-shadow: 0px 0px 20px whitesmoke;
}

#zona-de-interaccion {
  width: 100vw;
  min-width: 1200px;
  max-width: 1700px;
  height: 700px;
  display: flex;
}

.piezas-disponibles {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(90deg, #113f67 0.5%, #65c6c4, #113f67 99.5%);
  border: 2px solid #113f67;
}

.pieza {
  display: block;
  width: 100px;
  height: 100px;
}

#zona-de-interaccion #tablero {
  margin: auto;
  border-collapse: collapse;
}

td {
  width: 200px;
  height: 200px;
  padding: 0;
  border: 2px solid #113f67;
}

#particles-js {
  display: none;
  width: 100vw;
  min-width: 1200px;
  height: 100vh;
  min-height: 700px;
  position: absolute;
  top: 0;
  left: 0;
}